<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 引入dubbo配置相关的xml的命名空间-->

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubboservice" />
    <!--dubbo应用注册到zk的地址 -->
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    　　<!--实际项目中使用properties文件的形式定义zookeeper的地址 -->
    <!--<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" check="false"-->
    <!--file="dubbo.properties" />-->
    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://192.168.5.111:2181" />
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service id="dubboServiceImpl" interface="com.illusory.dubboservice.service.DubboService"
        protocol="dubbo" ref="dubboService" version="1.0" timeout="5000" />
    <!-- 具体的实现bean  一般实际项目中 不会把bean写在dubbo配置中,例如采用注解开发时,
        通过扫描的方式把bean交给spring管理,这里不需要写,直接在dubbo-service引用就好-->
    <!-- 和本地bean一样实现服务 -->
    <bean id="dubboService" class="com.illusory.dubboservice.service.impl.DubboServiceImpl" />
</beans>