server:
  port: 8762
eureka:
  instance:
    #eureka实例名称 尽量与配置文件一致
    hostname: eureka2
  client:
    #是否将自己注册到EurekaServer中
    registerWithEureka: false
    #是否从Eureka-Server中获取服务注册信息
    fetchRegistry: false
    serviceUrl:
      #服务注册中心地址，指向另一个注册中心
      defaultZone: http://localhost:8761/
security:
  basic:
    enabled: false
